.cancel-button{
    --background: red
}

.highlight{
    border: 4px solid #3880ff !important;
    border-radius:5px;
}

.subs-segment{
   
    --background:rgb(245, 244, 244);
   
    font-size:12px;

}

.segment-button-checked{
    border: 3px solid #3880ff !important;
    border-radius:5px;
}


